header {

        color: white;
        font-size: large;
        outline-width: 20px;
        outline-color: black;
background-color: black;
text-align: center;
margin: 20px;



}

p1 {

    color: darkred;
    background-color: dimgray;
margin: auto;
text-shadow: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 20px;
box-sizing: border-box;
border: black;
background-size: 35px;
margin-right: 40px;

}

p2 {

border-width: thick;
font-family: 'Times New Roman', Times, serif;
border-color: black;
border-width: thick;

}

pre {
    color: darkred;
    background-color: dimgray;
margin: auto;
text-shadow: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 20px;
box-sizing: border-box;
border: black;
margin-right: 80px;
background-size: 65px
}